[host=gsconfig]

[root_folder=/home/brojas/common/gea]

[folder=./]
         archiveconfig.xml
         epics_ca_addr_list.txt
         site
#this is a commentary
[folder=config]
         ag/ag.cnfg
         aom/aom.cnfg
         bfo/bfo.cnfg
         bto/bto.cnfg
         canopus/canopus.cnfg
         crcs/crcs.cnfg
         ecs/ecs.cnfg
         flamingos2/flamingos2.cnfg
         gcal/gcal.cnfg
         ghost/ghost.cnfg
         gis/gis.cnfg
         gmos/gmos.cnfg
         gpi/gpi.cnfg
         gpol/gpol.cnfg
         gsaoi/gsaoi.cnfg
         gws/gws.cnfg
         laser/laser.cnfg
         lis/lis.cnfg
         lse/lse.cnfg
         mcs/mcs.cnfg
         nici/nici.cnfg
         pcs/pcs.cnfg
         pcsact/pcsact.cnfg
         pr/pr.cnfg
         scs/scs.cnfg
         tcs/tcs.cnfg
         temporary/temporary.cnfg
         trecs/trecs.cnfg
         wfs/wfs.cnfg

[folder=pages/common]
         *.channels

[folder=pages/compilations]
         *.channels

[folder=pages/engineering]
         *.channels

[folder=pages/instruments]
         *.channels

[folder=pages/systems]
         *.channels

[folder=pages/systems/laser]
         *.channels

[folder=sysMon/CP]
         *.config