[host=rtconfig]

[root_folder=/home/brojas/rtconfig]

[folder=ag]
         *.pv
         *.lut
#this is a commentary
[folder=agSeq]
         ag/ag.cnfg
         aom/aom.cnfg
         bfo/bfo.cnfg
         agSeqPorts.pv
         agSeqTestStatus.pv
         agSeqNici.pv
         agSeqNirs.pv
         agSeq.pv


